.cs {
  text-align: justify;
  text-justify: distribute;
  font-size: 0; }
  @supports (display: -webkit-flex) or (display: flex) {
    .cs {
      text-align: inherit;
      text-justify: auto;
      font-size: inherit;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  .cs::after {
    content: '';
    width: 100%;
    display: inline-block; }
    @supports (display: -webkit-flex) or (display: flex) {
      .cs::after {
        display: none; } }
  .cs [class*=cols] {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem; }
    @supports (display: -webkit-flex) or (display: flex) {
      .cs [class*=cols] {
        text-align: inherit;
        display: block; } }
    .cs [class*=cols], .cs [class*=cols] [class*=cols] {
      width: 100%; }
  @media screen and (min-width: 768px) {
    .cs .cols-l-1 {
      width: 6.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-2 {
      width: 15%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-3 {
      width: 23.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-4 {
      width: 32%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5 {
      width: 40.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6 {
      width: 49%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7 {
      width: 57.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8 {
      width: 66%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9 {
      width: 74.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10 {
      width: 83%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11 {
      width: 91.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-1 {
      width: 6.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-2 {
      width: 15%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3 {
      width: 23.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4 {
      width: 32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5 {
      width: 40.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6 {
      width: 49%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7 {
      width: 57.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8 {
      width: 66%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9 {
      width: 74.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10 {
      width: 83%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11 {
      width: 91.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-12 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-12 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-11 {
      width: 91.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-11 {
      width: 91.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-10 {
      width: 83%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-10 {
      width: 83%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-9 {
      width: 74.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-9 {
      width: 74.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-8 {
      width: 66%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-8 {
      width: 66%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-7 {
      width: 57.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 57.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-6 {
      width: 49%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 49%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-5 {
      width: 40.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 40.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-4 {
      width: 32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 32%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-3 {
      width: 23.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 23.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-2 {
      width: 15%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 15%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-12:not([l]) .cols-l-1 {
      width: 6.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 6.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-12 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-11 {
      width: 91.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-10 {
      width: 83%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-9 {
      width: 74.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-8 {
      width: 66%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 57.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 49%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 40.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 23.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 15%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-12:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 6.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-12 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-11 {
      width: 91.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-10 {
      width: 83%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-9 {
      width: 74.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-8 {
      width: 66%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-7 {
      width: 57.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-6 {
      width: 49%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-5 {
      width: 40.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-4 {
      width: 32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-3 {
      width: 23.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-2 {
      width: 15%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-l-1 {
      width: 6.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-12 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-11 {
      width: 91.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-10 {
      width: 83%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-9 {
      width: 74.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-8 {
      width: 66%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-7 {
      width: 57.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-6 {
      width: 49%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-5 {
      width: 40.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-4 {
      width: 32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-3 {
      width: 23.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-2 {
      width: 15%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-12:not([l]):not([xl]) .cols-xl-1 {
      width: 6.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-11 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-11 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-10 {
      width: 90.71074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-10 {
      width: 90.71074%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-9 {
      width: 81.42149%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-9 {
      width: 81.42149%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-8 {
      width: 72.13223%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-8 {
      width: 72.13223%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-7 {
      width: 62.84298%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 62.84298%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-6 {
      width: 53.55372%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 53.55372%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-5 {
      width: 44.26446%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 44.26446%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-4 {
      width: 34.97521%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 34.97521%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-3 {
      width: 25.68595%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 25.68595%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-2 {
      width: 16.39669%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 16.39669%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-11:not([l]) .cols-l-1 {
      width: 7.10744%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 7.10744%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-11 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-10 {
      width: 90.71074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-9 {
      width: 81.42149%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-8 {
      width: 72.13223%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 62.84298%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 53.55372%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 44.26446%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 34.97521%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 25.68595%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 16.39669%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-11:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 7.10744%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-11 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-10 {
      width: 90.71074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-9 {
      width: 81.42149%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-8 {
      width: 72.13223%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-7 {
      width: 62.84298%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-6 {
      width: 53.55372%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-5 {
      width: 44.26446%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-4 {
      width: 34.97521%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-3 {
      width: 25.68595%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-2 {
      width: 16.39669%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-l-1 {
      width: 7.10744%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-11 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-10 {
      width: 90.71074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-9 {
      width: 81.42149%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-8 {
      width: 72.13223%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-7 {
      width: 62.84298%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-6 {
      width: 53.55372%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-5 {
      width: 44.26446%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-4 {
      width: 34.97521%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-3 {
      width: 25.68595%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-2 {
      width: 16.39669%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-11:not([l]):not([xl]) .cols-xl-1 {
      width: 7.10744%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-10 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-10 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-9 {
      width: 89.76%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-9 {
      width: 89.76%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-8 {
      width: 79.52%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-8 {
      width: 79.52%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-7 {
      width: 69.28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 69.28%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-6 {
      width: 59.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 59.04%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-5 {
      width: 48.8%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 48.8%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-4 {
      width: 38.56%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 38.56%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-3 {
      width: 28.32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 28.32%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-2 {
      width: 18.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 18.08%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-10:not([l]) .cols-l-1 {
      width: 7.84%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 7.84%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-10 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-9 {
      width: 89.76%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-8 {
      width: 79.52%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 69.28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 59.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 48.8%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 38.56%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 28.32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 18.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-10:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 7.84%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-10 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-9 {
      width: 89.76%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-8 {
      width: 79.52%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-7 {
      width: 69.28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-6 {
      width: 59.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-5 {
      width: 48.8%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-4 {
      width: 38.56%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-3 {
      width: 28.32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-2 {
      width: 18.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-l-1 {
      width: 7.84%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-10 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-9 {
      width: 89.76%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-8 {
      width: 79.52%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-7 {
      width: 69.28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-6 {
      width: 59.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-5 {
      width: 48.8%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-4 {
      width: 38.56%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-3 {
      width: 28.32%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-2 {
      width: 18.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-10:not([l]):not([xl]) .cols-xl-1 {
      width: 7.84%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-9 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-9 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-8 {
      width: 88.59259%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-8 {
      width: 88.59259%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-7 {
      width: 77.18519%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 77.18519%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-6 {
      width: 65.77778%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 65.77778%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-5 {
      width: 54.37037%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 54.37037%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-4 {
      width: 42.96296%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 42.96296%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-3 {
      width: 31.55556%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 31.55556%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-2 {
      width: 20.14815%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 20.14815%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-9:not([l]) .cols-l-1 {
      width: 8.74074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 8.74074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-9 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-8 {
      width: 88.59259%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 77.18519%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 65.77778%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 54.37037%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 42.96296%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 31.55556%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 20.14815%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-9:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 8.74074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-9 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-8 {
      width: 88.59259%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-7 {
      width: 77.18519%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-6 {
      width: 65.77778%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-5 {
      width: 54.37037%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-4 {
      width: 42.96296%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-3 {
      width: 31.55556%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-2 {
      width: 20.14815%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-l-1 {
      width: 8.74074%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-9 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-8 {
      width: 88.59259%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-7 {
      width: 77.18519%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-6 {
      width: 65.77778%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-5 {
      width: 54.37037%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-4 {
      width: 42.96296%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-3 {
      width: 31.55556%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-2 {
      width: 20.14815%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-9:not([l]):not([xl]) .cols-xl-1 {
      width: 8.74074%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-8 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-8 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-7 {
      width: 87.125%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 87.125%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-6 {
      width: 74.25%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 74.25%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-5 {
      width: 61.375%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 61.375%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-4 {
      width: 48.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 48.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-3 {
      width: 35.625%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 35.625%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-2 {
      width: 22.75%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 22.75%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-8:not([l]) .cols-l-1 {
      width: 9.875%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 9.875%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-8 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 87.125%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 74.25%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 61.375%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 48.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 35.625%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 22.75%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-8:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 9.875%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-8 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-7 {
      width: 87.125%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-6 {
      width: 74.25%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-5 {
      width: 61.375%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-4 {
      width: 48.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-3 {
      width: 35.625%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-2 {
      width: 22.75%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-l-1 {
      width: 9.875%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-8 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-7 {
      width: 87.125%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-6 {
      width: 74.25%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-5 {
      width: 61.375%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-4 {
      width: 48.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-3 {
      width: 35.625%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-2 {
      width: 22.75%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-8:not([l]):not([xl]) .cols-xl-1 {
      width: 9.875%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-7 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-7 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-6 {
      width: 85.22449%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 85.22449%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-5 {
      width: 70.44898%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 70.44898%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-4 {
      width: 55.67347%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 55.67347%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-3 {
      width: 40.89796%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 40.89796%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-2 {
      width: 26.12245%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 26.12245%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-7:not([l]) .cols-l-1 {
      width: 11.34694%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 11.34694%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-7 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 85.22449%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 70.44898%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 55.67347%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 40.89796%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 26.12245%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-7:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 11.34694%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-7 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-6 {
      width: 85.22449%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-5 {
      width: 70.44898%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-4 {
      width: 55.67347%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-3 {
      width: 40.89796%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-2 {
      width: 26.12245%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-l-1 {
      width: 11.34694%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-7 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-6 {
      width: 85.22449%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-5 {
      width: 70.44898%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-4 {
      width: 55.67347%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-3 {
      width: 40.89796%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-2 {
      width: 26.12245%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-7:not([l]):not([xl]) .cols-xl-1 {
      width: 11.34694%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-6 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-6 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-5 {
      width: 82.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 82.66667%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-4 {
      width: 65.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 65.33333%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-3 {
      width: 48%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 48%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-2 {
      width: 30.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 30.66667%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-6:not([l]) .cols-l-1 {
      width: 13.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 13.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-6 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 82.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 65.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 48%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 30.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-6:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 13.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-6 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-5 {
      width: 82.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-4 {
      width: 65.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-3 {
      width: 48%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-2 {
      width: 30.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-l-1 {
      width: 13.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-6 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-5 {
      width: 82.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-4 {
      width: 65.33333%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-3 {
      width: 48%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-2 {
      width: 30.66667%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-6:not([l]):not([xl]) .cols-xl-1 {
      width: 13.33333%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5:not([l]) .cols-l-5 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-l-5 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5:not([l]) .cols-l-4 {
      width: 79.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 79.04%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5:not([l]) .cols-l-3 {
      width: 58.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 58.08%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5:not([l]) .cols-l-2 {
      width: 37.12%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 37.12%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-5:not([l]) .cols-l-1 {
      width: 16.16%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 16.16%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-xl-5 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 79.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 58.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 37.12%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-5:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 16.16%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-l-5 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-l-4 {
      width: 79.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-l-3 {
      width: 58.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-l-2 {
      width: 37.12%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-l-1 {
      width: 16.16%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-xl-5 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-xl-4 {
      width: 79.04%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-xl-3 {
      width: 58.08%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-xl-2 {
      width: 37.12%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-5:not([l]):not([xl]) .cols-xl-1 {
      width: 16.16%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-4:not([l]) .cols-l-4 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-l-4 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-4:not([l]) .cols-l-3 {
      width: 73.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 73.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-4:not([l]) .cols-l-2 {
      width: 47%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 47%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-4:not([l]) .cols-l-1 {
      width: 20.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 20.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-xl-4 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 73.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 47%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-4:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 20.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-l-4 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-l-3 {
      width: 73.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-l-2 {
      width: 47%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-l-1 {
      width: 20.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-xl-4 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-xl-3 {
      width: 73.5%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-xl-2 {
      width: 47%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-4:not([l]):not([xl]) .cols-xl-1 {
      width: 20.5%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-3:not([l]) .cols-l-3 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-l-3 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-3:not([l]) .cols-l-2 {
      width: 64%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 64%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-3:not([l]) .cols-l-1 {
      width: 28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-xl-3 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 64%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-3:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-l-3 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-l-2 {
      width: 64%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-l-1 {
      width: 28%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-xl-3 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-xl-2 {
      width: 64%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-3:not([l]):not([xl]) .cols-xl-1 {
      width: 28%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-2:not([l]) .cols-l-2 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-2:not([l]):not([class*=cols-xl]) .cols-l-2 {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-2:not([l]) .cols-l-1 {
      width: 44%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-2:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 44%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-2:not([l]):not([class*=cols-xl]) .cols-xl-2 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-2:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 44%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-2:not([l]):not([xl]) .cols-l-2 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-2:not([l]):not([xl]) .cols-l-1 {
      width: 44%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-2:not([l]):not([xl]) .cols-xl-2 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-2:not([l]):not([xl]) .cols-xl-1 {
      width: 44%; } }
  @media screen and (min-width: 768px) {
    .cs .cols-l-1:not([l]) .cols-l-1 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-1:not([l]):not([class*=cols-xl]) .cols-l-1 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-l-1:not([l]):not([class*=cols-xl]) .cols-xl-1 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-1:not([l]):not([xl]) .cols-l-1 {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .cs .cols-xl-1:not([l]):not([xl]) .cols-xl-1 {
      width: 100%; } }
